

.centered {
    position: fixed; 
    top: 25%;
    left: 33%;
    width: 430px;
    height: 500px;
    background: #f0f0f0;
    align-content: center;
    overflow: scroll;
}

body {
    background-color: DarkSlateGrey;
}
